.DS_Store
test.sh
test2.sh
__pycache__/
img_wr_metric
testing
xil_methods/__pycache__
xil_methods/cd_util/__pycache__
learner/model_store
learner/__pycache__
learner/models/__pycache__
output_images
output_wr_metric
data_store/rawdata/
logs/
runs/
venv/
.vscode/
copy_model_store_from_dgx.sh
